
//Font-Family
$font-teko: "Teko", sans-serif;
$font-barlow: "Barlow", sans-serif;


//Colors

$primary-color:#ff1313;
$secondary-color:#2c234d;
$black-color: #060709;
$white-color: #fff;
$body-color: #303133;

